
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="about-us-cover" class="has-bg section-container">
    <!-- BEGIN cover-bg -->
    <div class="cover-bg">
        <img src="@Url.Content("~/Content/assets/img/about-us-cover.jpg")" alt="" />
    </div>
    <!-- END cover-bg -->
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN about-us -->
        <div class="about-us text-center">
            <h1><b>ABOUT</b> US</h1>
            <p>
                DIBZ is a service that allows next-generation gamers to swap used games on-line, on a pay-per-swap basis, in a manner that offers more value for money than part-exchange or purchasing new games. Our vision is to enable as many people to play as many games as possible. Our service is trustworthy because we test the games before they are issued to swappers and we provide a reliability rating so members can decide who they swap with.
            </p>
        </div>
        <!-- END about-us -->
    </div>
    <!-- END container -->
</div>



<!-- Banner Slider START HERE -->
<div class="section-container bg-white border-bottom-1" style="display:none;">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row row-space-10">
            <!-- BEGIN col-8 -->
            <div class="col-md-12">

                <!-- About Us Description START here -->
                <div class="col-md-8">
                    <h2 class="no-top-space">Vero eos et accusamus</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                    <p>Idest laborum et dolorum fuga. Et harum quidem rerum et quas molestias excepturi sint occaecati facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.</p>
                    <!-- BEGIN LISTS -->
                    <div class="row front-lists-v1">
                        <div class="col-md-6">
                            <ul class="list-unstyled margin-bottom-20">
                                <li><i class="fa fa-check"></i> Officia deserunt molliti</li>
                                <li><i class="fa fa-check"></i> Consectetur adipiscing </li>
                                <li><i class="fa fa-check"></i> Deserunt fpicia</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check"></i> Officia deserunt molliti</li>
                                <li><i class="fa fa-check"></i> Consectetur adipiscing </li>
                                <li><i class="fa fa-check"></i> Deserunt fpicia</li>
                            </ul>
                        </div>
                    </div>
                    <!-- END LISTS -->
                </div>
                <!-- About Us Description END here -->
                <!-- Video START here -->
                <div class="col-md-4">
                    <div class="product-img">
                        <img src="assets/img/game1.png" class="img-responsive rounded img-thumbnail" alt="">
                    </div>
                    <div class="profile-usertitle">
                        <h4 class="profile-desc-title m-t-0">WATCH DIBZ VIDEO</h4>
                    </div>


                    <div class="product-img img-responsive rounded img-thumbnail width-100person">
                        <iframe width="100%" height="250" src="https://www.youtube.com/embed/gNxP34jsbxw" frameborder="0" allowfullscreen></iframe>
                    </div>




                </div>
                <!-- Video Game END here -->
            </div>
            <!-- END col-8 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- Banner Slider END HERE -->


