
@{
    ViewBag.Title = "TermsOfUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="section-container page-header-container bg-black">
    <!-- BEGIN page-header-cover -->
    <div class="page-header-cover">
        <img src="~/Content/assets/img/top-cover.jpg" />
    </div>
    <!-- END page-header-cover -->
    <!-- BEGIN container -->
    <div class="container">
        <h1 class="page-header"><b>TERMS OF</b> USE</h1>
    </div>
    <!-- END container -->
</div>

<div class="section-container bg-white border-bottom-1">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row row-space-10">
            <!-- BEGIN col-12 -->
            <div class="col-md-12">
                <div class="vertical-scrool-box">
                    <!-- Terms Of Use Description START here -->

                    <h2>Win a Nintendo Switch – T&Cs </h2>
                    <br />
                    <p>1.The promoter is Dibz Limited a Limited Company Registered in England and Wales Company No: 9169070 Vat Number 223 9216 23. A full list of directors is available from the Companies Registered Office.</p>
                    <p>2. Employees of Dibz or their family members or anyone else connected in any way with the competition or helping to set up the competition shall not be permitted to enter the competition.</p>

                    <p>3. There is no entry fee and no purchase necessary to enter this competition.</p>

                    <p>4. Competition opens 12:00pm, 5th April 2019 and closes 23:59pm 31st May 2019</p>

                    <p>5. The rules of the competition are as follows:</p>

                    <ul class="list-unstyled margin-bottom-20">
                        <li class="fa fa-check">Like the post and company profile page</li>
                        <li class="fa fa-check">Visit dibz.co.uk/competition and sign up to become a dibzter to automatically be added to the prize draw</li>
                    </ul>
                    <br />

                    <p>6. Existing sign ups will automatically be added to the prize draw.</p>

                    <p>
                        7. The promoter reserves the right to cancel or amend the competition and
                        these terms and conditions without notice in the event of a catastrophe, war,
                        civil or military disturbance, act of God or any actual or anticipated breach of
                        any applicable law or regulation or any other event outside of the promoter’s
                        control. Any changes to the competition will be notified to entrants as soon as
                        possible by the promoter.
                    </p>

                    <p>
                        8. The promoter is not responsible for inaccurate prize details supplied to any
                        entrant by any third party connected with this competition. The promoter takes
                        no responsibility for the products delivered.
                    </p>

                    <p>
                        9. No cash alternative to the prizes will be offered. The prize is not
                        transferable. Prizes are subject to availability and we reserve the right to
                        substitute any prize with another of equivalent value without giving notice.
                    </p>

                    <p>
                        10. A winner will be announced within 4 weeks of the closing date. The
                        chosen winner will have a further two weeks after being announced to contact
                        Dibz via Facebook or Email. If the winner does not contact Dibz in that time
                        period then another winner will be chosen.
                    </p>

                    <p>
                        11. The promoter’s decision in respect of all matters to do with the competition
                        will be final and no correspondence will be entered into.
                    </p>

                    <p>
                        12. By entering this competition, an entrant is indicating his/her agreement to
                        be bound by these terms and conditions.
                    </p>

                    <p>
                        13. The competition and these terms and conditions will be governed by
                        [English] law and any disputes will be subject to the exclusive jurisdiction of
                        the courts of [England].
                    </p>

                    <p>
                        14. The winner agrees to the use of his/her name and image in any publicity
                        material. Any personal data relating to the winner or any other entrants will be
                        used solely in accordance with current [UK] data protection legislation and will
                        not be disclosed to a third party without the entrant’s prior consent.
                    </p>

                    <p>
                        15. This promotion is in no way sponsored, endorsed or administered by, or
                        associated with, Facebook, Twitter or any other Social Network.
                    </p>

                    <p>16. Dibz has the right to withdraw the competition without notice.</p>

                    <strong class="small-title-trms"><a href="@Url.Action("ContactUs", "Dashboard")">Contact Us</a></strong>


                    <!-- Terms Of Use Description END here -->
                </div>
            </div><!-- vertical-scrool-box End -->
            <!-- END col-8 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>

