
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="section-container page-header-container bg-black">
    <!-- BEGIN page-header-cover -->
    <div class="page-header-cover">
        <img src="~/Content/assets/img/top-cover.jpg" />
    </div>
    <!-- END page-header-cover -->
    <!-- BEGIN container -->
    <div class="container">
        <h1 class="page-header"><b>FREQUENTLY ASKED</b> QUESTIONS</h1>
    </div>
    <!-- END container -->
</div>

<div class="section-container bg-white border-bottom-1">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row row-space-10">
            <!-- BEGIN col-12 -->
            <div class="col-md-12">

                <!-- Terms Of Use Description START here -->
                <div class="col-md-12">
                    <ul class="list-unstyled margin-bottom-20">

                        <li class="alter-bg p-15 border-bottom-1">
                            <b class="font-14"><i class="fa fa-question-circle"></i> Is swapping cheap?</b>
                            <ul class="list-style">
                                <li> It is cheaper than buying a new game and can be cheaper than part exchanging your triple AAA titles. To compete with DIBZ the game you want would have to cost you £6 or less in a part exchange deal. </li>
                            </ul>
                        </li>
                        <li class="alter-bg p-15 border-bottom-1">
                            <b class="font-14"><i class="fa fa-question-circle"></i> Can I swap downloadable content(DLC)?</b>
                            <ul class="list-style">
                                <li>No.</li>
                            </ul>
                        </li>
                        <li class="p-15 border-bottom-1">
                            <b class="font-14"><i class="fa fa-question-circle"></i> How much does it cost me to swap a game?</b>
                            <ul class="list-style">
                                <li>£2 plus £4 postage</li>
                            </ul>
                        </li>
                        <li class="alter-bg p-15 border-bottom-1">
                            <b class="font-14"><i class="fa fa-question-circle"></i> How much does postage cost?</b>
                            <ul class="list-style">
                                <li>£4 to cover sending the game in and sending games insured back to you.</li>
                            </ul>
                        </li>
                        <li class="alter-bg p-15 border-bottom-1">
                            <b class="font-14"><i class="fa fa-question-circle"></i> What happens if my game fails testing?</b>
                            <ul class="list-style">
                                <li>
                                    We send it back to you. You will be charged the postage for us to return your game.
                                </li>
                            </ul>
                        </li>
                        <li class="p-15 border-bottom-1">
                            <b class="font-14"><i class="fa fa-question-circle"></i> Why would my game fail testing?</b>
                            <ul class="list-style">
                                <li>
                                    The disc is scratched. The case is in poor condition. The game does not install. The game does not load.
                                </li>
                            </ul>
                        </li>
                        <li class="alter-bg p-15 border-bottom-1">
                            <b class="font-14"><i class="fa fa-question-circle"></i> Why do you penalise people for sending in games late or failing testing?</b>
                            <ul class="list-style">
                                <li>For the service to work well for everyone and enable DIBZ to run if efficiently we needed to create an incentive for users to send in games quickly and to discourage users from sending in games in poor condition. </li>
                            </ul>
                        </li>

                    </ul>

                    <!-- BEGIN LISTS -->
                    <!-- END LISTS -->
                </div>
                <!-- Terms Of Use Description END here -->
            </div>
            <!-- END col-8 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>






