
@{
    ViewBag.Title = "TermsOfUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="section-container page-header-container bg-black">
    <!-- BEGIN page-header-cover -->
    <div class="page-header-cover">
        <img src="~/Content/assets/img/top-cover.jpg" />
    </div>
    <!-- END page-header-cover -->
    <!-- BEGIN container -->
    <div class="container">
        <h1 class="page-header"><b>TERMS OF</b> USE</h1>
    </div>
    <!-- END container -->
</div>

<div class="section-container bg-white border-bottom-1">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row row-space-10">
            <!-- BEGIN col-12 -->
            <div class="col-md-12">
                <div class="vertical-scrool-box">
                    <!-- Terms Of Use Description START here -->
                    <p>Welcome to the www.dibz.co.uk website terms and conditions for use. These terms and conditions apply to the use of this website and by accessing this website and/or conducting game swaps, you agree to be bound by the terms and conditions set out below. If you do not agree to be bound by these terms and conditions, you may not use or access this website.</p>
                    <p>Before you conduct a swap, if you have any questions relating to these terms and conditions, please <a href="@Url.Action("ContactUs", "Dashboard")">Contact Us</a>.</p>

                    <h2 class="no-top-space">Definitions</h2>
                    <div class="row front-lists-v1">
                        <div class="col-md-12">
                            <ul class="list-unstyled margin-bottom-20">
                                <li><i class="fa fa-check"></i> "Conditions" means these terms and conditions.</li>
                                <li><i class="fa fa-check"></i> "Product" means a product displayed for swap on the website</li>
                                <li><i class="fa fa-check"></i> "Product Description" means that part of the website where certain terms and conditions, in respect of the individual product, are provided.</li>
                                <li><i class="fa fa-check"></i> "Special Conditions" means the terms and conditions in the product description.</li>
                                <li><i class="fa fa-check"></i> "Users" means the users of the website collectively.</li>
                                <li><i class="fa fa-check"></i> "Personal Information" means the details provided by you on registration;</li>
                                <li><i class="fa fa-check"></i> "We/us" means Dibz.</li>
                                <li><i class="fa fa-check"></i> "Website" means the website located at www.dibz.co.uk or any subsequent URL which may replace it.</li>
                                <li><i class="fa fa-check"></i> "Cookies" means small text files which our website places on your computer's hard drive to store information about your shopping session and to identify your computer.</li>
                                <li><i class="fa fa-check"></i> "United Kingdom" means England, Wales, Scotland, Northern Ireland and the Channel Islands.</li>
                                <li><i class="fa fa-check"></i> "Affiliates" means any website operator, retailer, kiosk operator, direct marketing company, telemarketer, or operator of other direct marketing campaigns that has entered into an agreement with www.dibz.co.uk which compensates the affiliate for transactions resulting from business directed to the www.dibz.co.uk website by the affiliate.</li>
                                <li><i class="fa fa-check"></i> "You" means a user of this website.</li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="no-top-space">Use of the website</h2>
                    <strong class="small-title-trms">Access</strong>
                    <p>You are provided with access to this website in accordance with these conditions and any swaps placed by you must be placed strictly in accordance with these conditions.</p>
                    <strong class="small-title-trms">Registration</strong>
                    <div class="row front-lists-v1">
                        <div class="col-md-12">
                            <ul class="list-unstyled margin-bottom-20">
                                <p>You warrant that:</p>
                                <li><i class="fa fa-check"></i> The personal information which you are required to provide when you register as a customer is true, accurate, current and complete in all respects.</li>
                                <li><i class="fa fa-check"></i> You will notify us immediately of any changes to the personal information by <a href="@Url.Action("ContactUs", "Dashboard")">contacting us</a>.</li>
                                <li><i class="fa fa-check"></i> You agree not to impersonate any other person or entity or to use a false name or a name that you are not authorised to use.</li>
                            </ul>
                        </div>
                    </div>
                    <strong class="small-title-trms">Indemnity</strong>
                    <p>You agree fully to indemnify, defend and hold us, and our officers, directors, employees, agents and suppliers, harmless immediately on demand, from and against all claims, liability, damages, losses, costs and expenses, including reasonable legal fees, arising out of any breach of the conditions by you or any other liabilities arising out of your use of this website, or the use by any other person accessing the website using your account and/or your personal information.</p>
                    <strong class="small-title-trms">Our rights</strong>
                    <p>We reserve the right to:</p>
                    <div class="row front-lists-v1">
                        <div class="col-md-12">
                            <ul class="list-unstyled margin-bottom-20">
                                <li><i class="fa fa-check"></i>	 Modify or withdraw, temporarily or permanently, this website (or any part thereof) with or without notice to you, and you confirm that we shall not be liable to you or any third party for any modification to or withdrawal of the website.</li>
                                <li><i class="fa fa-check"></i> Change the conditions from time to time. We will notify you of these changes</li>
                            </ul>
                        </div>
                    </div>
                    <strong class="small-title-trms">Third party links</strong>
                    <p>To provide increased value to our users, we may provide links to other websites or resources for you to access at your sole discretion. You acknowledge and agree that, as you have chosen to enter the linked website, we are not responsible for the availability of such external sites or resources, and do not review or endorse and are not responsible or liable, directly or indirectly, for:</p>
                    <p>1. the privacy practices of such websites</p>
                    <p>2. the content of such websites, including (without limitation) any advertising, content, products, goods or other materials or services on or available from such websites or resources</p>
                    <p>3. the use to which others make of these websites or resources, nor for any damage, loss or offence caused or alleged to be caused by, or in connection with, the use of or reliance on any such advertising, content, products, goods or other materials or services available on such external websites or resources</p>
                    <strong class="small-title-trms">Dibz Customer Privacy Policy</strong>
                    <p>DIBZ Customer Privacy Policy covers the collection, use, and disclosure of personal information that may be collected by members of the DIBZ Group any time you interact with DIBZ, such as when you visit our website, when swap online or when you email customer services. Please take a moment to read the following to learn more about our information practices, including what type of information is gathered, how the information is used and for what purposes, to whom we disclose the information, and how we safeguard your personal information. Your privacy is a priority at DIBZ, and we go to great lengths to protect it.</p>
                    <strong class="small-title-trms">Why Dibz collect personal information</strong>
                    <p>We collect your personal information because it helps us deliver a superior level of customer service. It enables us to give you convenient access to our products and services and focus on categories of greatest interest to you. In addition, your personal information helps us keep you posted on the latest announcements, updates, special offers, and events that you might like to hear about.</p>
                    <strong class="small-title-trms">What information Dibz collects and how we may use it</strong>
                    <p>There are a number of situations in which your personal information may help us give you better products.</p>
                    <p>For example:</p>
                    <p>We may ask for your personal information when you're participating in an online survey, entering a competition, or registering your online account.</p>
                    <p>When you interact with DIBZ, we may collect personal information relevant to the situation, such as your name, mailing address, phone number, email address, and contact preferences and information about the products you swap, such as their serial numbers, and information relating to a support or service issue.</p>
                    <p>We also collect information for market research purposes - such as if you wish to receive updates from DIBZ - to gain a better understanding of our customers and thus provide more valuable service. We collect information regarding customer activities on our website. This helps us to determine how best to provide useful information to customers and to understand which parts of our website and Internet services are of most interest to them.</p>
                    <p>We may use personal information to provide products that you have requested as well as for auditing, research, and analysis to improve Dibz.</p>
                    <strong class="small-title-trms">Your Dibz online username and related information</strong>
                    <p>The DIBZ website allows you to create a "DIBZ username" based on your personal information. This convenient service saves you time and allows for easier use of our web services. </p>
                    <p>Here's how it works</p>
                    <p>You create a personal profile - providing your name and email address, your phone number and mailing address. The system saves your information and assigns you a personal DIBZ username, because it's unique and easy to remember. The next time you interact with the DIBZ website, all you need to do is enter your DIBZ username and password; the system looks up the information it needs to assist you.</p>
                    <p>In addition, if you update the information associated with your DIBZ username it will be available for all your transactions with DIBZ online.</p>
                    <p>
                        At times we may be required by law or litigation to disclose your personal information. We may also disclose information about you if we determine that for national security, law enforcement, or other issues of public importance, disclosure is necessary.
                    </p>
                    <strong class="small-title-trms">How DIBZ protects your personal information</strong>
                    <p>DIBZ takes precautions - including administrative, technical, and physical measures - to safeguard your personal information against loss, theft, and misuse, as well as unauthorized access, disclosure, alteration, and destruction.</p>
                    <p>
                        You can help us by also taking precautions to protect your personal data when you are on the Internet. Change your passwords often using a combination of letters and numbers, and make sure you use a web browser that is up to date with all security patches.
                    </p>
                    <strong class="small-title-trms">Integrity of your personal information</strong>
                    <p>DIBZ has safeguards in place to keep your personal information accurate, complete, and up-to-date for the purposes for which it is used. Naturally, you always have the right to access and correct the personal information you have provided. You can help us ensure that your contact information is accurate, complete, and up-to-date by checking the ‘My Profile’ section of the DIBZ website. You can request a copy of your personal information by  <a href="@Url.Action("ContactUs", "Dashboard")">contacting us.</a></p>
                    <strong class="small-title-trms">General Date Protection Regulation (GDPR)</strong>
                    <p>DIBZ holds all personal information in compliance with the GDPR.</p>

                    <strong class="small-title-trms">Our companywide commitment to your privacy</strong>
                    <p>As we said, DIBZ takes protecting your privacy very seriously. To make sure your personal information is secure, we communicate these guidelines to DIBZ employees and strictly enforce privacy safeguards within the company.</p>
                    <strong class="small-title-trms">External links</strong>
                    <p>DIBZ's website has links to the sites of other companies. DIBZ is not responsible for their privacy practices. We encourage you to learn about the privacy policies of those companies.</p>
                    <strong class="small-title-trms">Privacy questions</strong>
                    <p If you have questions or concerns about DIBZ's Customer Privacy Policy or data processing, please <a href="#">contact us here</a>. The DIBZ Data Controller will respond to your inquiry within 40 days. DIBZ may update its privacy policy from time to time. When we change the policy, it will be posted on our website along with the updated privacy policy.</p>
				<h2 class="no-top-space">Swapping Using Dibz</h2>
				<strong class="small-title-trms">Swaps</strong>
					<p>We will take all reasonable care, in so far as it is in our power to do so, to keep the details of your swaps and payment secure, but in the absence of negligence on our part we cannot be held liable for any loss you may suffer if a third party procures unauthorized access to any data you provide when accessing or swapping using the website.</p>
				<strong class="small-title-trms">Description of products</strong>
					<p>All products are second hand unless stated.</p>
					<p>Please note, however, that all product descriptions and images are for display purposes only and do not represent the finished product. Box contents may vary; additional downloadable content listed on the box may not be included.</p>
					<p>Please note, however, that all product descriptions and images are for display purposes only and do not represent the finished product. Box contents may vary; additional downloadable content listed on the box may not be included.</p>
					<p>We will take all reasonable care to ensure that all details and descriptions of products appearing on the website are correct at the time when the relevant information was entered onto the system. Although we aim to keep the website as up to date as possible, the information, including product descriptions appearing on this website at a particular time, may not always reflect the position exactly at the moment you agree a swap. </p>
				<strong class="small-title-trms">Images</strong>
					<p>Images are for illustration only. Actual item design may vary slightly from image.</p>

				<strong class="small-title-trms">Payments</strong>
					<p>To swap using <a class="trms-link-blu" href="#">www.dibz.co.uk</a> you must make payment using a valid UK credit or debit card, PayPal account, Bitcoin or Dibz voucher.</p>

				<strong class="small-title-trms">Order Delivery</strong>
					<p>We are only able to deliver swaps to the UK billing address used when you register to our website. We are not liable for any missed delivery, due to an incorrect or incomplete address entered by you. </p>
				<strong class="small-title-trms">Swapping with Dibz</strong>

					<p>DIBZ Ltd and their associates reserve the right to refuse to swap any items at their sole discretion. DIBZ Ltd and their associates reserve the right to limit the number of swaps that are honoured to any customer at their sole discretion.</p>

					<p>Please ensure that you are the legal owner of the goods you wish to swap, as ownership will be transferred to the party you are swapping with subject to DIBZ quality and testing procedures.</p>

					<p>Your obligation is to dispatch goods you are sending to DIBZ in less than 5 working days.</p>

					<p>All items sent to DIBZ are made pursuant to a shipment contract. Prior to DIBZ receiving such items, the risk of loss and title for such items remains with you until DIBZ receives such items. This means that the risk of loss and title for such items passes to us upon delivery from the carrier. You must ensure that all parts of your swap are sent at the same time. Should we receive only part of your swap, we will cancel the swap and charge you postage for returning the items. DIBZ will not take responsibility for incomplete products sent in for swap.</p>
					<p>Your goods must be received by DIBZ Ltd at the designated location within 5 working days of your swap being agreed. You must post to Freepost DIBZ (written exactly like that) with nothing else written on the front of the envelope. Envelopes addressed otherwise may not reach us or be delayed.</p>
				<strong class="small-title-trms">Failed Items</strong>
					<p>Any item that fails our testing procedures will be returned (if requested) by Royal Mail Recorded Delivery. You will pay for the postage. DIBZ will not take responsibility for lost or damaged goods among failed items.</p>
				<h2 class="no-top-space">Electronic Communications</h2>
				    <p>When you visit www.dibz.co.uk or send emails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by email or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>
				<strong class="small-title-trms">Copyright</strong>
					<p>All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of DIBZ Ltd or its content suppliers and protected by UK and international copyright laws. The compilation of all content on this site is the exclusive property of DIBZ Ltd and protected by UK. and international copyright laws. All software used on this site is the property of DIBZ LTD or its software suppliers and protected by UK and international copyright laws.</p>
				<strong class="small-title-trms">Trademarks</strong>
					<p>‘DIBZ’ and other marks indicated on our site are registered trademarks of DIBZ Ltd in the UK. Other DIBZ graphics, logos, page headers, button icons, scripts, and service names are trademarks of DIBZ Ltd. DIBZ trademarks and associated images may not be used in connection with any product or service that is not DIBZ, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits DIBZ Ltd. All other trademarks not owned by DIBZ, that appear on this site, are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by DIBZ.</p>
				<strong class="small-title-trms">License and Site Access</strong>
					<p>www.dibz.co.uk grants you a limited licence to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of DIBZ Ltd . This licence does not include any resale or commercial use of this site or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of this site or its contents; any downloading or copying of account information for the benefit of another merchant; or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of DIBZ Ltd. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of www.dibz.co.uk and our affiliates, without express written consent. You may not use any meta tags or any other "hidden text" utilizing www.dibz.co.uk 's name or trademarks without the express written consent of DIBZ Ltd . Any unauthorized use terminates the permission or licence granted by DIBZ Ltd . You are granted a limited, revocable, and non-exclusive right to create a hyperlink to the home page of www.dibz.co.uk, so long as the link does not portray www.dibz.co.uk , its affiliates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any www.dibz.co.uk logo or other proprietary graphic or trademark as part of the link, without express written permission.</p>
				<strong class="small-title-trms">Your Account</strong>
					<p>If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. If you are under 16, you may use www.dibz.co.uk only with involvement of a parent or guardian. DIBZ Ltd and its affiliates reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in their sole discretion.</p>


				<strong class="small-title-trms">General</strong>
					<p>Intellectual property and right to use:</p>
					<p>You acknowledge and agree that all copyright, trademarks and all other intellectual property rights in all material or content supplied as part of the website, shall remain at all times vested in us or our licensors. You are permitted to use this material only as expressly authorized by us or our licensors. You acknowledge and agree that the material and content contained within the website is made available for your personal non-commercial use only and that you may (if necessary to make a swap) download such material and content onto only one computer hard drive for such purpose. Any other use of the material and content of the website is strictly prohibited. You agree not to (and agree not to assist or facilitate any third party to) copy, reproduce, transmit, publish, display, distribute, commercially exploit or create derivative works of such material and content. The website may be used only for lawful purposes and in a lawful manner. You agree to comply with all applicable laws, statutes and regulations regarding the website and any transactions conducted on or through the website.</p>
				<strong class="small-title-trms">Limitation of liability</strong>
					<p>While we will use reasonable endeavours to verify the accuracy of any information we place on the website, we make no warranties, whether express or implied in relation to its accuracy. The website is provided on an "as is" and "as available" basis without any representation or endorsement made and we make no warranties of any kind, whether express or implied, in relation to the website, or any transaction that may be conducted on or through the website, including but not limited to, implied warranties of non-infringement, compatibility, security, accuracy, conditions of completeness, or any implied warranty arising from course of dealing or usage or trade. We make no warranty that the website will meet your requirements or will be uninterrupted, timely or error-free, that defects will be corrected, or that the site or the server that makes it available are free of viruses or bugs or represents the full functionality, accuracy, reliability of the website. We will not be responsible or liable to you for any loss of content or material uploaded or transmitted through the website. To the fullest extent permissible under applicable law, we disclaim any and all warranties of any kind, whether express or implied, in relation to the products. This does not affect your statutory rights as a consumer.</p>
					<p>We will not be liable, in contract, tort (including, without limitation, negligence), pre-contract or other representations (other than fraudulent or negligent misrepresentations) or otherwise out of or in connection with the conditions for:</p>
				<div class="row front-lists-v1">
                    <div class="col-md-12">
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check"></i> Any economic losses (including without limitation loss of revenues, profits, contracts, business or anticipated savings)</li>
							<li><i class="fa fa-check"></i> Any loss of goodwill or reputation</li>
							<li><i class="fa fa-check"></i> Any special or indirect losses suffered or incurred by that party arising out of or in connection with the provisions of any matter under the conditions.</li>
                        </ul>
                        </div>
                    </div>
					<p>Nothing in the conditions shall exclude or limit our liability for death or personal injury resulting from our negligence or that of our servants, agents or employees.</p>
				<strong class="small-title-trms">Severance</strong>
					<p>If any part of the conditions shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed to be severable from the conditions and shall not affect the validity and enforceability of any of the remaining provisions of the conditions.</p>
				<strong class="small-title-trms">Waiver</strong>
					<p>Each provision of the conditions shall be construed as separately applying and surviving even if, for any reason, one or other of those provisions is held to be inapplicable or unenforceable in any circumstances.</p>
				<strong class="small-title-trms">Survival</strong>
					<p>Each provision of the conditions shall be construed as separately applying and surviving even if, for any reason, one or other of those provisions is held to be inapplicable or unenforceable in any circumstances.</p>
				<strong class="small-title-trms">Entire agreement</strong>
					<p>These conditions govern our relationship with you.You confirm that, in agreeing to accept the conditions, you have not relied on any representation save insofar as the same has expressly been made a term of these conditions and you agree that you shall have no remedy in respect of any representation. Your statutory rights are not affected by these terms and conditions. Nothing in this clause shall limit or exclude our liability in respect of any fraudulent or negligent misrepresentation whether or not such has become a term of the conditions.</p>
				<strong class="small-title-trms">Applicable Law</strong>
					<p>By visiting www.dibz.co.uk you agree that the laws of England and Wales, without regard to principles of conflict of laws, will govern these conditions of use and any dispute of any sort that might arise between you and DIBZ Ltd or its affiliates.</p>
				<strong class="small-title-trms"><a href="@Url.Action("ContactUs", "Dashboard")">Contact Us</a></strong>


                <!-- Terms Of Use Description END here -->
                </div>
            </div><!-- vertical-scrool-box End -->
            <!-- END col-8 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>

